body {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	margin:0px;
	border:0px;
	padding:0px;
	background-image:url(blueprints2_flow.png);
	background-repeat:repeat-y;
	background-size:100% auto;
	font-family:Palatino Linotype;
}
div.bgcontent {
	position:absolute;
	left:0px;
	top:0px;
}
div.bgcontent img.main {
	position:relative;
	width:100%;
	height:auto;
}
div.container {
	position:absolute;
	left:16%;
	right:16%;
	top:0px;
	height:100%;
}
div.containerHead {
	position:relative;
	height:148px;
	width:100%;
	background-color:rgba(50, 50, 50, 0.75);
	-webkit-border-radius:0px 0px 20px 20px;
	-webkit-box-shadow:6px 4px 10px #252525;
}
div.containerBody {
	position:relative;
	margin-top:64px;
	width:100%;
	min-height:360px;
	background-color:rgba(50, 50, 50, 0.75);
	-webkit-border-radius:20px 20px 0px 0px;
	-webkit-box-shadow:6px 4px 10px #252525;
}
div.containerBody .firstPhrase {
	border-top-width:12px;
	border-top-style:solid;
	border-top-color:rgba(0, 0, 0, 0);
	color:white;
	text-align:center;
	font-weight:600;
	font-variant:small-caps;
	font-size:16px;
	line-height:10%;
	opacity:0;
}
div.containerBody .firstPhrase2 {
	color:white;
	text-align:center;
	font-weight:600;
	font-variant:small-caps;
	font-size:24px;
	line-height:10%;
	opacity:0;
}
div.containerBody .firstPhrase3 {
	color:white;
	text-align:center;
	font-weight:600;
	font-variant:small-caps;
	font-size:30px;
	line-height:10%;
	opacity:0;
}
div.containerBody .firstPhrase4 {
	color:white;
	text-align:center;
	font-weight:600;
	font-variant:small-caps;
	font-size:38px;
	line-height:10%;
	opacity:0;
}
div.containerBody .firstPhrase5 {
	color:white;
	text-align:center;
	font-weight:600;
	font-variant:small-caps;
	font-size:46px;
	line-height:10%;
	opacity:0;
}
img.titleimage {
	position:relative;
	top:10px;
	left:4px;
}
